framework:
    rate_limiter:
        login:
            policy: 'sliding_window'
            limit: 10
            interval: '1 minute'

        registration:
            policy: 'sliding_window'
            limit: 10
            interval: '1 minute'

        api:
            policy: 'sliding_window'
            limit: 100
            interval: '1 minute'
