security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        login:
            pattern: ^/api/v1/auth/login
            stateless: true
            json_login:
                check_path: /api/v1/auth/login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        api:
            pattern: ^/
            stateless: true
            provider: app_user_provider
            jwt: ~

    access_control:
        - { path: ^/api/doc, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/auth/register, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/auth/login, roles: PUBLIC_ACCESS }
        - { path: ^/api/v1/users, roles: ROLE_ADMIN, methods: [GET, POST, PUT, DELETE] }
        - { path: ^/api/v1/articles, roles: PUBLIC_ACCESS, methods: [GET] }
        - { path: ^/api/v1/articles, roles: [ROLE_ADMIN, ROLE_AUTHOR], methods: [POST] }
        - { path: ^/api/v1/articles, roles: ROLE_USER, methods: [PUT, DELETE] }

    role_hierarchy:
        ROLE_ADMIN: [ROLE_AUTHOR, ROLE_READER]
        ROLE_AUTHOR: [ROLE_READER]
        ROLE_READER: [ROLE_USER]

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
