# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\EventSubscriber\RateLimitSubscriber:
        arguments:
            $loginLimiter: '@limiter.login'
            $registrationLimiter: '@limiter.registration'
            $apiLimiter: '@limiter.api'

    App\EventSubscriber\ExceptionSubscriber:
        arguments:
            $environment: '%kernel.environment%'
